*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  min-height: 268px;
  padding: 0;
  margin: 0;
  margin-bottom: 110px;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  color: #f3f7f8;
  background-color: #f1f5f7;
}

.header-container-top {
  min-width: 940px;
  max-height: 42px;
  padding: 0;
  margin: 0 auto;
}

.header-container,
.header-container-top,
.user-navigation-container,
.user-navigation,
.site-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  list-style: none;
}

.main-header,
.main-container,
.page-perforators-title,
.perforator-title,
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.slide-button p,
.product-title,
.price,
.price-discount,
.company-description,
.breadcrumbs,
.perforator-description,
.catalog-columns {
  font-family: "PT Sans", sans-serif;
}

.visually-hidden {
  display: none;
}

.nav-search-form {
  min-width: 270px;
}

.nav-search-form img {
  margin-right: 15px;
  margin-left: 17px;
}

.nav-search-input {
  min-width: 206px;
  min-height: 42px;
  padding: 0;
  border: 0;
  font-weight: 400;
}

.nav-bookmark-count,
.nav-basket-count {
  margin-left: 5px;
}

.nav-order {
  background-color: #63a63e;
}

.nav-basket {
  background-color: #ee3643;
}

.user-actions {
  display: flex;
}

.link {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 20px;
}

.user-actions .link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
}

.user-actions .link img,
.nav-account img {
  margin-right: 15px;
}

.link img,
.nav-search-form img,
.login-link img {
  opacity: 0.3;
}

.nav-link {
  text-decoration: underline;
}

.user-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 940px;
  min-height: 158px;
  margin: 0 auto;
  font-size: 21px;
  line-height: 21px;
}

.site-description {
  max-width: 200px;
  margin: 0;
  margin-left: 52px;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.user-navigation-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  padding: 0;
  margin: 0;
}

.user-navigation-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  min-width: 270px;
  min-height: 45px;
  margin-bottom: 5px;
  border: 3px solid white;
  color: #ee3643;
}

.user-navigation-button img {
  margin-left: 12px;
  margin-right: 40px;
}

.user-navigation-adress {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
}

.user-navigation-adress p {
  margin: 0;
}

.user-navigation {
  display: flex;
  justify-content: flex-end;
  min-width: 299px;
  margin: 0;
  margin-bottom: 28px;
  padding: 0;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 121px;
  min-height: 45px;
  padding-top: 14px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.login-link img {
  margin-right: 14px;
}

.login-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 150px;
  min-height: 45px;
  margin: 0;
  margin-left: 10px;
  padding-top: 14px;
  padding-right: 20px;
  padding-bottom: 10px;
  padding-left: 20px;
  color: #000000;
}

.account-menu {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-width: 299px;
  min-height: 45px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
}

.nav-accaunt-service {
  display: flex;
  justify-content: space-around;
  margin: 0;
  margin-right: 55px;
  padding: 0;
}

.main-navigation {
  max-width: 940px;
  margin: 0 auto;
  padding: 0;
  font-size: 17px;
  line-height: 17px;
  list-style: none;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 55px;
  padding: 0;
  margin: 0;
  box-shadow: 0px 5px #293449;
}

.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.features-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 940px;
  padding: 0;
  margin: 0;
  margin-bottom: 78px;
}

.features-list-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.features-list-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.features-list-bottom {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-between;
  min-height: 266px;
}

.feature-item {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  min-width: 300px;
  height: 123px;
  background-color: #ffbf47;
}

.feature-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-width: 140px;
  min-height: 78px;
}

.feature-title {
  margin: 0;
}

.feature-button {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  max-width: 135px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  background: rgba(255, 255, 255, 0.1);
}

.tool {
  background-color: #3bbce3;
}

.technique {
  background-color: #dc91d8;
}

.special-offers {
  background-color: #8ed78f;
}

.feature-item-slider {
  min-width: 620px;
  min-height: 266px;
}

.slider-item {
  position: absolute;
  background-image: url("/img/features/slider/slider-1.jpg");
  width: 620px;
  height: 266px;
}

.slider-item-active {
  background-image: url("/img/features/slider/slider-2.jpg");
  width: 620px;
  height: 266px;
}

.slide-title {
  margin: 0;
}

.slide-text {
  margin: 0;
}

.slide-info {
  display: flex;
  flex-direction: column;
  position: relative;
  justify-content: space-around;
  margin-left: 25px;
  min-height: 266px;
}

.slider-item-active {
  display: none;
}

.slider-button {
  max-width: 195px;
}

.slide-button h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  text-transform: uppercase;
}

.slide-button p {
  font-size: 18px;
  line-height: 24px;
  padding-bottom: 23px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 14px;
  line-height: 18px;
  min-height: 40px;
  min-width: 141px;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
  border-radius: 4px;
  text-transform: uppercase;
  background-color: #ee3643;
}

.account-menu,
.service-list,
.list {
  list-style: none;
}

.popular {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

.popular-product {
  min-width: 940px;
}

.popular-head {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.popular-all {
  min-width: 253px;
  margin-right: 24px;
}

.popular-title {
  margin: 0;
  padding: 30px;
  font-size: 30px;
  line-height: 30px;
  font-weight: 400;
  text-transform: uppercase;
}

.popular-product-list {
  display: flex;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-size: 18px;
  line-height: 20px;
  max-width: 220px;
  min-height: 318px;
  margin-bottom: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;
  border: 1px solid #eaeaea;
}

.product-item h3 {
  margin: 0;
  font-size: 18px;
}

.product-title {
  display: flex;
  text-align: center;
  margin: 0;
}

.price-discount {
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 12px;
  padding-left: 20px;
  text-decoration: line-through;
  color: #a9a9a9;
}

.product-price {
  font-weight: 700;
  min-width: 141px;
  min-height: 38px;
  margin: 0;
  font-size: 17px;
  line-height: 18px;
}

.popular-manufacturers-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 940px;
  min-height: 330px;
  margin: 0;
  margin-bottom: 85px;
  padding: 0;
}

.manufacturer-item {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 220px;
  min-height: 145px;
  border: 1px solid #eaeaea;
}

.service {
  display: flex;
  justify-content: center;
  background-color: #f4f8f9;
}

.services-info {
  display: flex;
  flex-direction: column;
  min-width: 950px;
}

.service-top {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  min-height: 190px;
  margin-bottom: 20px;
}

.service-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.service-description,
.service-card-description {
  font-size: 13px;
  line-height: 24px;
  margin: 0;
}

.service-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 60px;
}

.service-list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.line {
  background-image: url("/img/service-cards/line.png");
  min-height: 272px;
  background-repeat: no-repeat;
}

.service-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 240px;
  border: 1px solid #4e637c;
  font-size: 21px;
  line-height: 30px;
  font-weight: 700;
  padding-top: 15px;
  padding-right: 20px;
  padding-bottom: 15px;
  padding-left: 20px;
  color: #ffffff;
  background-color: #32425c;
}

.service-item-active {
  border: none;
  font-weight: 400;
}

.bwhite {
  background-color: #ffffff;
}

.service-card {
  display: flex;
  min-width: 619px;
  min-height: 253px;
}

.service-card-container {
  display: flex;
  flex-direction: column;
}

.service-card-title {
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin-bottom: 30px;
}

.service-item-active,
.blue {
  color: #32425c;
}

.service-card-button {
  min-width: 195px;
}

.delivery {
  background-image: url("/img/service-cards/delivery.png");
  background-repeat: no-repeat;
  background-position: 140px 24px;
}

.company {
  display: flex;
  justify-content: center;
  min-height: 540px;
  font-size: 13px;
  line-height: 24px;
}

.company-container {
  display: flex;
  justify-content: space-between;
  min-width: 940px;
  margin-bottom: 86px;
}

.company-info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.company-info-top {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 170px;
  margin-bottom: 15px;
}

.company-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
}

.company-description {
  margin: 0;
}

.company-list {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  margin: 0;
  padding-left: 0;
  margin-bottom: 30px;
}

.company-item {
  display: inline-block;
  position: relative;
  font-size: 18px;
  line-height: 24px;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 35px;
}

.bcol {
  color: #000000;
}

.company-item::before {
  content: " ";
  background: #ee3643;
  min-width: 25px;
  min-height: 2px;
  left: 0;
  top: 20px;
  position: absolute;
}

.company-button {
  max-width: 220px;
}

.company-contacts {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.company-contacts-top {
  display: flex;
  flex-direction: column;
  margin-bottom: 38px;
}

.contacts-map {
  margin-bottom: 38px;
}

.company-contacts-top h2 {
  margin-bottom: 30px;
}

.modal-write-us {
  max-width: 300px;
  border: 0;
}

.guarantee,
.credit {
  display: none;
}

.main-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.site-navigation,
.main-footer {
  background-color: #32425c;
}

.feature-item,
.feature-button,
.header-container-top a,
.main-navigation a,
.slide-button h3,
.slide-button p,
.main-footer,
.off,
.button,
::placeholder {
  color: #ffffff;
}

.main-footer-direction {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-width: 940px;
  padding: 0;
  margin: 0;
  margin-bottom: 25px;
  font-size: 18px;
  line-height: 24px;
}

.footer-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-logo {
  max-width: 220px;
  max-height: 68px;
}

.footer-adress {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.footer-navigation-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: flex-end;
  max-width: 560px;
}

.footer-adress,
.footer-navigation-container,
.link {
  color: #f3f7f8;
}

.footer-navigation {
  display: flex;
  align-items: center;
  min-height: 55px;
  padding: 0;
  margin: 0;
  margin-top: 30px;
}

.footer-navigation-services {
  display: flex;
  align-items: center;
  min-height: 55px;
  padding: 0;
  margin: 0;
  margin-bottom: 30px;
}

.footer-navigation-services {
  display: flex;
}

.deep-footer {
  display: flex;
  justify-content: center;
  min-height: 105px;
  padding: 0;
  margin: 0;
}

.nav-accaunt-service,
.deep-footer {
  font-size: 16px;
  line-height: 18px;
}

.nav-search-input,
.header-container,
.deep-footer {
  background-color: #293449;
}

.deep-footer-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-width: 940px;
}

.footer-social {
  display: flex;
  margin-left: 60px;
}

.social-button-list {
  display: flex;
  list-style: none;
  justify-content: space-between;
  min-width: 146px;
  margin: 0;
  padding: 0;
}

.social-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
  min-width: 42px;
  min-height: 42px;
  border-radius: 40px;
  background-color: #212a3a;
}

.footer-feedback {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

.footer-feedback p {
  margin: 0;
}

.footer-feedback-container {
  display: flex;
  justify-content: space-between;
  min-width: 340px;
}

.backlight {
  color: #ffd180;
}

.catalog-container {
  font-size: 13px;
  line-height: 18px;
}

.inner-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.breadcrumbs-list {
  min-width: 960px;
  display: flex;
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
}

.breadcrumbs-item {
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 17px;
}

.breadcrumbs-img {
  margin-left: 17px;
}

.page-perforators {
  min-width: 940px;
  margin-bottom: 20px;
  background-color: #f2f6f8;
}

.page-perforators-title {
  text-transform: uppercase;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  padding-top: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  padding-left: 30px;
  color: #32425c;
}

.catalog-columns {
  display: flex;
}

.catalog-column-1 {
  max-height: 220px;
  margin-right: 20px;
  text-transform: uppercase;
}

.filters h2 {
  display: flex;
  align-items: center;
  padding-top: 10px;
  padding-right: 149px;
  padding-bottom: 10px;
  padding-left: 18px;
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  border-radius: 3px;
  background-color: #f7f3ec;
}

.filter-range-slider {
  width: 220px;
  height: 80px;
  margin-bottom: 10px;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-price-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;
}

.range-price-container input {
  border: none;
  width: 95px;
  height: 38px;
  text-align: center;
  background-color: #f7f3ec;
  border-radius: 3px;
}

.range-price {
  font-size: 17px;
  line-height: 18px;
}

.filter-list {
  list-style: none;
  margin: 0;
  padding: 0;
}

.filter-option {
  padding-left: 35px;
  margin-bottom: 22px;
}

.filter-option label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  left: -35px;
  top: 0;
  width: 23px;
  height: 23px;
  background-image: url("/img/catalog/filter/checkbox-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-checkbox:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 27px;
  height: 23px;
  background-image: url("/img/catalog/filter/checkbox-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("/img/catalog/filter/radio-off.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-input-radio:checked + label::after {
  content: "";
  position: absolute;
  top: 0;
  left: -35px;
  width: 25px;
  height: 25px;
  background-image: url("/img/catalog/filter/radio-on.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.filter-form legend {
  font-weight: 700;
  color: #000000;
  font-size: 17px;
  line-height: 30px;
  margin-bottom: 20px;
}

.filter-form label {
  font-size: 15px;
  line-height: 20px;
}

.filter-form fieldset {
  margin: 0;
  margin-bottom: 25px;
  padding: 0;
  border: none;
  border-bottom: 1px solid #e5e5e5;
}

.filter-form .end {
  border: none;
}

.filter-button {
  padding-top: 9px;
  padding-right: 78px;
  padding-bottom: 9px;
  padding-left: 78px;
  margin: 0;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.catalog-column-2 {
  max-width: 700px;
  margin-bottom: 60px;
}

.sorting {
  display: flex;
  justify-content: flex-end;
  background-color: #f7f3ec;
  border-radius: 3px;
  margin-bottom: 20px;
}

.sorting h2 {
  margin: 0;
  padding-top: 10px;
  padding-right: 90px;
  padding-bottom: 10px;
  padding-left: 18px;
  font-size: 13px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
}

.sorting-list,
.sorting-direction-list {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.sorting-item-active {
  text-transform: uppercase;
  color: #ee3643;
}

.sorting-up,
.sorting-down {
  padding-top: 10px;
  padding-right: 15px;
  padding-bottom: 10px;
  padding-left: 15px;
}

.sorting-item {
  text-transform: uppercase;
  text-decoration: underline dotted #ee3643;
  color: #acaaa5;
  padding-top: 10px;
  padding-right: 35px;
  padding-bottom: 10px;
  padding-left: 35px;
}

.sorting-direction-list {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.product-item:nth-child(3n) {
  margin-right: 0;
}

.product-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0;
  padding: 0;
}

.product-item .actions {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 218px;
  height: 140px;
  padding: 40px 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 10;
}

.product-item:hover .actions {
  display: block;
}

.actions .buy,
.actions .bookmark {
  display: block;
  width: 129px;
  margin: 0 auto;
  margin-bottom: 7px;
  padding: 7px 0;
  border: 3px solid #63a63e;
  border-bottom-color: #367315;
  background-color: #63a63e;
  color: white;
  font-size: 14px;
  line-height: 18px;
  font-weight: normal;
  font-family: "Cuprum", sans-serif;
  text-transform: uppercase;
  text-align: center;
  border-radius: 3px;
}

.actions .bookmark {
  color: #32425c;
  background: white;
  border-bottom-color: #63a63e;
}

.price {
  position: relative;
}

.price::after {
  content: "";
  position: absolute;
  top: 0;
  right: -20px;
  width: 0;
  height: 0;
  border: 20px solid white;
  border-left-color: #ee3643;
}

.catalog-navigation {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.navigation-page {
  padding-top: 10px;
  padding-right: 17px;
  padding-bottom: 10px;
  padding-left: 17px;
  margin-right: 10px;
  border: 1px solid #e5e5e5;
  border-radius: 2px;
}

.catalog-page {
  color: #000000;
}

.selected {
  border: 0;
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-page-button {
  padding-top: 11px;
  padding-right: 31px;
  padding-bottom: 11px;
  padding-left: 31px;
  margin: 0;
  text-transform: uppercase;
  background-color: #ffffff;
  border: 1px solid #e5e5e5;
  border-radius: 4px;
}

.perforator {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 261px;
  background-color: #f2f6f8;
}

.perforator-info {
  display: flex;
  flex-direction: column;
  max-width: 940px;
}

.perforator-title {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  margin: 0;
  margin-bottom: 38px;
}

.perforator-description {
  font-weight: 500;
  line-height: 24px;
  margin: 0;
  padding: 0;
}

.modal {
  display: none;
}
