*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  color: #000000;
  background-color: #ffffff;
}

a {
  text-decoration: none;
}

.main-header {
  min-height: 268px;
  padding: 0;
  margin-bottom: 59px;
  font-size: 17px;
  line-height: 18px;
  list-style: none;
  color: #f3f7f8;
  background-color: #f1f5f7;
}

.header-container {
  color: #ffffff;
  background-color: #293449;
}

.header-container-top {
  min-width: 940px;
  height: 42px;
  padding: 0;
  margin: 0 auto;
}

.header-container,
.header-container-top,
.user-navigation-container,
.user-navigation,
.site-navigation {
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-start;
  list-style: none;
}

.header-container a,
.header-container-top a,
.main-navigation a {
  color: #ffffff;
}

.main-header,
.main-container,
.main-footer {
  font-family: "Cuprum", Arial, sans-serif;
}

.visually-hidden {
  display: none;
}

.nav-search-form {
  min-width: 270px;
}

.nav-search-form img {
  padding-left: 16px;
  padding-right: 16px;
}

.nav-search-input {
  width: 206px;
  height: 42px;
  padding: 0;
  border: 0;
  background-color: #293449;
}

::placeholder {
  color: #ffffff;
}

.nav-bookmark img {
  padding-right: 13px;
}

.nav-basket img {
  padding-right: 17px;
}

.nav-order {
  background-color: #63a63e;
}

.user-actions {
  display: flex;
}

.user-actions a {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 42px;
}

.link img,
.nav-search-form img,
.login-link img {
  opacity: 0.3;
}

.user-navigation-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 940px;
  min-height: 154px;
  padding-left: 52px;
  margin: 0 auto;
}

.site-description {
  width: 200px;
  min-height: 71px;
  margin: 0;
  font-size: 16px;
  line-height: 23px;
  font-style: italic;
  color: #ee3643;
}

.user-navigation-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 270px;
  padding: 0;
  margin: 0;
}

.user-navigation-button {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 270px;
  min-height: 45px;
  border: 3px solid white;
  font-size: 21px;
  line-height: 21px;
  color: #ee3643;
}

.user-navigation-button img {
  padding-right: 40px;
  padding-left: 12px;
}

.user-navigation-adress {
  display: flex;
  justify-content: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation-adress p {
  margin: 0;
}

.user-navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 281px;
  min-height: 158px;
  margin: 0;
  padding: 0;
}

.login-link,
.login-registration {
  font-size: 21px;
  line-height: 21px;
  color: #000000;
  background-color: #ffffff;
}

.login-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 121px;
  min-height: 45px;
}

.login-link img {
  padding-right: 14px;
}

.login-registration {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  min-height: 45px;
}

.site-navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 17px;
  line-height: 17px;
  width: 940px;
  height: 55px;
  margin: 0 auto;
  padding: 0;
  list-style: none;
  background-color: #32425c;
  box-shadow: 0px 5px #293449;
}

.link {
  min-height: 55px;
  padding-top: 22px;
  padding-bottom: 26px;
}

.button {
  padding: 14px 45px 14px 45px;
  font-size: 14px;
  line-height: 18px;
  color: #fde4e6;
  background-color: #ee3643;
}

.feature-item {
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  width: 300px;
  height: 123px;
  color: #ffffff;
  background-color: #ffbf47;
}

.feature-button {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  width: 135px;
  height: 38px;
  padding: 12px 24px 12px 24px;
  margin-left: 23px;
  background: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.tool {
  background-color: #3bbce3;
}

.technique {
  background-color: #dc91d8;
}

.special-offers {
  background-color: #8ed78f;
}

.slider-item {
  width: 620px;
  height: 266px;
}

.slide-button {
  background: rgba(255, 255, 255, 0.25);
}

.slide-button h3 {
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  color: #ffffff;
}

.slide-button p {
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  color: #ffffff;
}

.features-list,
.slider-list,
.slider-dots,
.popular-product-list,
.popular-manufacturers-list,
.service-list,
.company-list,
.footer-navigation,
.footer-navigation-services,
.social-button {
  list-style: none;
}

.popular-head {
  width: 940px;
  height: 89px;
  background-color: #f9f5f0;
}

.popular-title {
  font-size: 30px;
  line-height: 30px;
  color: #677283;
}

.service {
  height: 522px;
  background-color: #f4f8f9;
}

.service-title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #000000;
}

.service-description {
  font-size: 16px;
  line-height: 18px;
  color: #000000;
}

.service-cards {
  text-align: center;
}

.service-cards h2 {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
}

.service-cards p {
  color: #000000;
}

.service-list {
  display: inline;
}

.service-item {
  width: 240px;
  height: 61px;
  color: #ffffff;
  background-color: #32425c;
}

.main-footer {
  color: #ffffff;
  background-color: #32425c;
}

.footer-adress {
  color: #f3f7f8;
}

.footer-navigation-container,
.link {
  color: #f3f7f8;
}

.backlight {
  color: #ffd180;
}

.main-footer-container {
  display: flex;
}

.footer-navigation-container {
  display: flex;
}

.footer-navigation {
  display: flex;
}

.footer-navigation-services {
  display: flex;
}

.deep-footer {
  display: flex;
  background-color: #293449;
}

.social-button {
  display: flex;
}
